/* Header */
@import url('../css/header/header.css');

/* Welcome */
@import url('../css/welcome/welcome.css');

/* Utilities */
@import url('../css/utilities/color.css');

/* Resetando config padrão do navegador */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Padrão de fonte caso a fonte principal não carregue */
@font-face {
    font-family: 'Cooper Hewitt';
    src: url('../assets/fonts/CooperHewitt-Bold.woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('../assets/fonts/CooperHewitt-Book.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('../assets/fonts/CooperHewitt-Medium.woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('../assets/fonts/CooperHewitt-Semibold.woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('../assets/fonts/CooperHewitt-Bold.woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('../assets/fonts/CooperHewitt-Heavy.woff');
    font-weight: 800;
    font-style: normal;
}

body {
    font-family: "Fira Sans", Arial, sans-serif;
    color: var(--color-c9);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}