/* Header */
@import url('../css/header/header.css');

/* Welcome */
@import url('../css/welcome/welcome.css');

/* Utilities */
@import url('../css/utilities/color.css');

/* Resetando config padrão do navegador */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Padrão de fonte caso a fonte principal não carregue */
body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: var(--color-c9);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}