.header-bg {
    height: 100px;
    padding: 0.7em;
    background-color: #fff;
}

.header {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

#nav-projectlink {
    cursor: pointer;
    padding: 12px 0;
    background-color: var(--color-v6);
    box-shadow: 0 5px 5px 5px var(--color-v6);
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}

@keyframes animate {
    0%{
        border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/ 30% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
    }
    
}

#nav-projectlink a {
    color: var(--color-c1);
}

#nav-projectlink:hover {
    background-color: var(--color-c2);
}

#nav-projectlink a:hover {
    color: var(--color-v6);
}

.header-menu a{
    padding: 10px 5px;
    font-size: 1.125rem;
    font-weight: 600;
}

.header-menu .nav-link {
    position: relative;
}

.header-menu .nav-link:after{
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background: var(--color-v9);
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
}

.header-menu .nav-link:hover::after {
    width: 100%;
}