.header-bg {
    max-width: 2200px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    background-color: #FFF;
}

.section-header {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.section-header nav {
    display: flex;
    gap: 20px;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-menu2 {
    display: flex;
    gap: 20px;
}

.header-menu a,
.header-menu2 a {
    font-size: 1.125rem;
    font-weight: 400;
}

.header-menu i {
    font-size: 1.3rem;
}

.header-menu .nav-link,
.header-menu2 .nav-link {
    position: relative;
}

.header-menu .nav-link:after,
.header-menu2 .nav-link:after {
    content: "";
    display: block;
    height: 1px;
    width: 0px;
    background: var(--color-v1);
    margin-top: 2px;
    transition: 0.3s;
    position: absolute;
}

.header-menu .nav-link:hover::after,
.header-menu2 .nav-link:hover::after {
    width: 100%;
}

/* Responsividade */
@media (max-width: 600px) {
    .header-menu a,
    .header-menu2 a {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    .header-menu2 {
        display: none;
    }
}