.projects-bg {
    background-color: var(--color-c7);
}

.projects-bg h1 {
    font-family: 'Cooper Hewitt';
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    padding: 30px 0;
    color: var(--color-c1);
}

.card-container {
    max-width: 2200px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
}

.project-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
    padding: 40px;
    margin-bottom: 70px;
    border-radius: 1.5rem;
    background-color: var(--color-c7);
    box-shadow: 0 8px 24px var(--color-c8);
    cursor: pointer;
}

.project-card:hover {
    transform: scale(1.03);
}

.project-card .card-img {
    display: grid;
}

.project-card img {
    grid-area: 1/1;
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 1.5rem;
    box-shadow: 0 8px 24px var(--color-c9);
}

/* .card-infos {
    
    
    
} */

.card-infos .card-title {
    grid-column: 1/-1;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-c1);
}

.card-description {
    grid-column: 1/1;
    font-size: .813rem;
    padding: 5px;
    background-color: var(--color-c2);
    color: var(--color-c9);
    border-radius: 5px;
}

.card-link {
    grid-column: 1/1;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-v5);
}