.welcome-bg {
    background-color: var(--color-c8);
}

.welcome-content {
    max-width: 2200px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px 40px;
}

.welcome {
    padding: 40px 20px;
}

.welcome h1 {
    font-family: 'Cooper Hewitt';
    font-size: 4.5rem;
    font-weight: 600;
}

.welcome .text-developer {
    font-family: 'Cooper Hewitt';
    font-size: 2rem;
    font-weight: 500;
}

.welcome .personal-description {
    margin-top: 10px;
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: 400;
}

.welcome .btn-welcome {
    cursor: pointer;
    display: block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    border: none;
    color: var(--color-c1);
    font-size: 1rem;
    text-align: center;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.welcome #btn-projects {
    max-width: 300px;
    margin-top: 40px;
}

.welcome #btn-cv {
    max-width: 160px;
    margin-top: 10px;
}

.welcome .btn-welcome::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-v2);
    border-radius: 10rem;
    z-index: -2;    
}

.welcome .btn-welcome:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--color-v1);
    border-radius: 10rem;
    z-index: -1;
    transition: all .3s;
}

.welcome .btn-welcome:hover {
    color: var(--color-c1);
}

.welcome .btn-welcome:hover:before {
    width: 100%;
}

.welcome-img {
    object-fit: cover;
    background: url(../../assets/imgs/img-profile.jpg);
    background-size: cover;
    background-position: center center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
    box-shadow: 0 10px 10px 5px rgba(4, 102, 200, 0.5);
    animation: animate 5s ease-in-out infinite;
    transition: all .8s ease-in-out;
}

@keyframes animate {
    0%{
        border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/ 50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
    }
}

/* Responsive */
@media (max-width: 1300px) {
    .welcome {
        padding-top: 30px;
    }
    .welcome h1 {
        font-size: 3rem;
    }
    .welcome .text-developer {
        font-size: 1.5rem;
    }
    .welcome-img {
        width: 380px;
        height: 380px;
    }
}

@media (max-width: 1200px) {
    .welcome h1 {
        font-size: 2.5rem;
    }
    .welcome .text-developer {
        font-size: 1.5rem;
    }
    .welcome .personal-description {
        font-size: 1.175rem;
    }
}

@media (max-width: 1024px) {
    .welcome .text-developer {
        font-size: 1.2rem;
    }
    .welcome .personal-description {
        font-size: 1rem;
    }
    .welcome-img {
        width: 350px;
        height: 350px;
    }
    .welcome .btn-welcome {
        letter-spacing: .10rem;
    }
}

@media (max-width: 850px) {
    .welcome-img {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 768px) {
    .welcome {
        padding: 20px 10px;
    }
    .welcome h1 {
        font-size: 2rem;
    }
    .welcome .text-developer {
        font-size: 1rem;
    }
    .welcome .personal-description {
        font-size: 0.875rem;
    }
    .welcome-img {
        width: 250px;
        height: 250px;
    }
    .welcome .btn-welcome {
        letter-spacing: 0rem;
    }
}

@media (max-width: 600px) {
    .welcome-content {
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .welcome {
        text-align: center;
        order: 2;
    }
    .welcome .btn-welcome {
        margin: 20px auto;
    }
}